<nav class="menu">
	<a href="#" class="close"><i class="fa fa-close"></i></a>
	<h3>Menu</h3>
	<ul class="nav">
		<% if(user) { %><li><a data-scroll onclick="RedirectToProfile();"><%=usrName%></a></li><% } %>
		<li><a data-scroll onclick="RedirectToIndex();">Home</a></li>
		<li><a data-scroll onclick="RedirectToSell();">Sell Item</a></li>
		<li><a data-scroll onclick="RedirectToCatalog();">Catalog</a></li>
		<li><a data-scroll onclick="RedirectToContact();">Contact</a></li>
		<% if(!user) { %>
			<li><a data-scroll onclick="RedirectToLogin();">Log In</a></li>
		<% } else { %>
			<li><a data-scroll onclick="RedirectToProfile();">Profile</a></li>
			<li><a data-scroll onclick="RedirectToLogOut();">Log Out</a></li>
		<% } %>
		<li><a data-scroll onclick="RedirectToSignUp();">Sign Up</a></li>
	</ul>
	<ul class="social-icons">
		<li><a href=""><i class="fa fa-facebook"></i></a></li>
		<li><a href=""><i class="fa fa-twitter"></i></a></li>
		<li><a href=""><i class="fa fa-dribbble"></i></a></li>
		<li><a href=""><i class="fa fa-behance"></i></a></li>
		<li><a href=""><i class="fa fa-pinterest"></i></a></li>
	</ul>
</nav>