<!DOCTYPE html>
<!--
 * A Design by GraphBerry
 * Author: GraphBerry
 * Author URL: http://graphberry.com
 * License: http://graphberry.com/pages/license
-->
<html lang="en-us">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>BuyOnTheFly</title>

	<!-- Load fonts -->
	<link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Lora' rel='stylesheet' type='text/css'>

	<!-- Load css styles -->
	<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css" />
	<link rel="stylesheet" type="text/css" href="/stylesheets/font-awesome.css" />
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />

</head>
<body>
	<div class="jumbotron home home-fullscreen" id="home">
		<div class="mask"></div>
		<a href="./index" class="logo">
			<img src="../img/logo.png" alt="http://buyonthefly-group4.mybluemix.net/">
		</a>
		<a href="" class="menu-toggle" id="nav-expander"><i class="fa fa-bars"></i></a>
		<!-- Offsite navigation -->
		
		<%include menu %>
		
		<h2>Hi <%=usrName%>,</h2>
		<section id="portfolio">
			<h2 id="it_sec" style="margin-top: -40px">Items for sale</h2>
			<div id="it_sec" id="selectItemToDelete" style="color: black;margin-right: 900px;margin-bottom: -70px;">
				<label for="itemsToDeleteControl">Select item to delete:</label>
				<select id="itemsToDeleteControl" name="itemsToDeleteControlName"></select>
			</div>
			<div>
				<input id="deleteItemButton" type="submit" name="submit" value="Delete Item" class="profile-btn btn-lg btn-primary" style="margin-right: 400px;margin-top: 35px;">
			</div>
			<section id="it_for_sale"></section>
			
			<div id="result"></div>	
			<h2 id="it_sec">Items Sold</h2>
			<section id="it_sold"></section>
		</section>
	</div>
	<footer>
		<div class="container">
			<div class="row">
				<div class="col-md-8">
					<p>&copy; 2016 BuyOnTheFly. All Rights Reserved.</p>
				</div>
				<div class="col-md-4">
					<ul class="social-icons">
						<li><a href=""><i class="fa fa-facebook"></i></a></li>
						<li><a href=""><i class="fa fa-twitter"></i></a></li>
						<li><a href=""><i class="fa fa-dribbble"></i></a></li>
						<li><a href=""><i class="fa fa-behance"></i></a></li>
						<li><a href=""><i class="fa fa-pinterest"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
	</footer>
	<!-- Footer end  -->

	<!-- Load jQuery -->
	<script type="text/javascript" src="../js/jquery-1.11.2.min.js"></script>

	<!-- Load Booststrap -->
	<script type="text/javascript" src="../js/bootstrap.js"></script>

	<script type="text/javascript" src="../js/smooth-scroll.js"></script>

	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>

	<!-- Load custom js for theme -->
	<script type="text/javascript" src="../js/init.js"></script>
	<script type="text/javascript" src="../js/jqueryUserItemsGET.js"></script>
	
</body>
</html>